.dashboard {
	min-height: 200px;
}

ul.grid-container {
    list-style-type: none;
	padding: 0px;
}



.dashlet {
	margin-bottom: 10px;

	/*background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
	background-image: linear-gradient(#020202, #101112 40%, #191b1d);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
	filter: none;
	
	
*/	
    border: 1px solid #ccc;
    
    border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	height:inherit;
	
	background-color: #fcfcfc;
	
/*	box-shadow: 0px 0px 10px #111;*/
	overflow:auto;
}

.dashlet-title {
	height: 34px;
	padding: 0 10px;
	overflow: hidden;
	cursor: move;
	
}

.dashlet-content {
    padding: 0px 10px;
}

.dashlet-collapsed .dashlet-title {
	border-bottom: none;
}

.dashlet-title h3 {
	font-size: 15px;
	line-height: 34px;
	height: 34px;
	overflow: hidden;
	margin: 0;
}

.dashlet-title-actions {
	float: right;
	margin-top: 9px;
}

.dashlet-title-actions a {
	float: left;
	cursor: pointer;
	margin-left: 2px;
}

.dashlet-title-actions a:hover {
	/*background-color: #BBB;*/
}

.dashlet-title-actions a:active {
	/*background-color: #CCC;*/
}

.dashlet-color-table {
	background:#FFF;
	padding:0;
}

.dashlet-color-table td {
	padding:5px;
	border:1px solid #777;
	background:#FFF;
	color:#777;
}

.dashlet-color-table input {
	margin:0;
}

.dashlet-placeholder {
	height: 34px;
	margin-bottom: 10px;
}

.dashlet-dialog .Actions {
	display: none;
}

.ui-dialog .dashlet-dialog-loading {
	background: url(../images/spinner.gif) no-repeat center center;
}

.closed-dialog {
	display: none;
}


.brick.small {
	width: 140px;
	height: 140px;
}

.brick.large {
	width: 300px;
	height: 300px;
}

.dashlet-footer {
	width:auto;
	height:16px;
}

.dashlet-resize {
	width:16px;
	height:16px;
	background:#CCC;
	opacity: 0.1;
	bottom:0px;
	right:0px;
	cursor:se-resize;
	background-position:top left;
	background-repeat:no-repeat;
	position:absolute;
}

nav {
	z-index:9999;
}

.mobile-layout {
	display: none;
	overflow: auto;
	padding: 20px;
}

.mobile-dashlet-icon {
	display: block;
	border-radius: 10px;
	box-shadow: 0px 2px 10px 0px #aaa;
	width: 80px;
	height: 80px;
	margin: 20px;
	float: left;
	background-color: #fff;
	cursor: pointer;
}

.dashlet-title-icon {
	display: block;
	font-size: 20px;
	font-weight: bold;
	height: 50%;
	width: 50%;
	margin: 25% auto;
	text-align: center;
}

.grid-container {
	min-height: 50px;
}


.dashboard-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 2001;
}
.dashboard-overlay.active-dialog {
  visibility: visible;
  opacity: 1;
}

.dashboard-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  max-height: 70%;
  overflow: auto;
  position: relative;
  transition: all 5s ease-in-out;
}

.dashboard-popup h2 {
  margin-top: 0;
  color: #333;
}
.dashboard-popup .dashboard-dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.gridster li.preview-holder {
    background-color: #ceffce !important;
}

.dashboard-popup .dashboard-dialog-close:hover {
  color: #06D85F;
}
.dashboard-popup .dashboard-dialog-content {
  
  overflow: auto;
}
.dashboard-popup label {
    display: block;
}

@media only screen and (max-width: 768px) {
    .gridster li.gs-w {
        position: static !important;
        margin-bottom: 5px !important;
    }
    
    .gridster [data-sizex] {
        width: auto;
    }
}
