.dashboard {
	min-height: 200px;
}

ul {
    list-style-type: none;
}

.dashlet {
	margin-bottom: 10px;

	/*background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
	background-image: linear-gradient(#020202, #101112 40%, #191b1d);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
	filter: none;
	
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;*/
	height:inherit;
	
	background-color: #fcfcfc;
	
	box-shadow: 0px 0px 10px #111;
	overflow:auto;
}

.dashlet-title {
	height: 34px;
	padding: 0 10px;
	overflow: hidden;
	cursor: move;
	
}

.dashlet-collapsed .dashlet-title {
	border-bottom: none;
}

.dashlet-title h3 {
	font-size: 15px;
	line-height: 34px;
	height: 34px;
	overflow: hidden;
	margin: 0;
}

.dashlet-title-actions {
	float: right;
	margin-top: 9px;
}

.dashlet-title-actions a {
	float: left;
	cursor: pointer;
	margin-left: 2px;
}

.dashlet-title-actions a:hover {
	/*background-color: #BBB;*/
}

.dashlet-title-actions a:active {
	/*background-color: #CCC;*/
}

.dashlet-color-table {
	background:#FFF;
	padding:0;
}

.dashlet-color-table td {
	padding:5px;
	border:1px solid #777;
	background:#FFF;
	color:#777;
}

.dashlet-color-table input {
	margin:0;
}

.dashlet-placeholder {
	height: 34px;
	margin-bottom: 10px;
}

.dashlet-dialog .Actions {
	display: none;
}

.ui-dialog .dashlet-dialog-loading {
	background: url(../images/spinner.gif) no-repeat center center;
}

.closed-dialog {
	display: none;
}


.brick.small {
	width: 140px;
	height: 140px;
}

.brick.large {
	width: 300px;
	height: 300px;
}

.dashlet-footer {
	width:auto;
	height:16px;
}

.dashlet-resize {
	width:16px;
	height:16px;
	background:#CCC;
	opacity: 0.1;
	bottom:0px;
	right:0px;
	cursor:se-resize;
	background-position:top left;
	background-repeat:no-repeat;
	position:absolute;
}

nav {
	z-index:9999;
}


.typography #DashboardLayout ul li {
	list-style-type: none !important;
	margin-bottom: 0;
}


.gridster .gs-w.small-screen {
	position: static;
}
/*
@media only screen and (max-width: 640px) {
	.dashlet {
		width: 100px;
		heigt: 100px;
	}
	
	ul.grid-container li {
		float: left;
		margin-right: 20px;
	}
	
	.dashlet-title, .dashlet-content {
		display: none;
	}
	
	*[data-sizex] {
		width: 100px !important;
	}
	
	*[data-sizey] {
		height: 100px !important;
	}
}*/