.dashboard {
	min-height: 200px;
}

ul {
    list-style-type: none;
}

.dashlet {
	margin-bottom: 10px;

	background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
	background-image: linear-gradient(#020202, #101112 40%, #191b1d);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
	filter: none;
	
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	box-shadow: 0px 0px 10px #111;
}

.dashlet-title {
	height: 34px;
	padding: 0 10px;
	overflow: hidden;
	cursor: move;
	
}

.dashlet-collapsed .dashlet-title {
	border-bottom: none;
}

.dashlet-title h3 {
	font-size: 15px;
	line-height: 34px;
	height: 34px;
	overflow: hidden;
	margin: 0;
}

.dashlet-title-actions {
	float: right;
	margin-top: 9px;
}

.dashlet-title-actions a {
	float: left;
	cursor: pointer;
	margin-left: 2px;
}

.dashlet-title-actions a:hover {
	/*background-color: #BBB;*/
}

.dashlet-title-actions a:active {
	/*background-color: #CCC;*/
}

.dashlet-placeholder {
	height: 34px;
	margin-bottom: 10px;
}

.dashlet-dialog .Actions {
	display: none;
}

.ui-dialog .dashlet-dialog-loading {
	background: url(../images/spinner.gif) no-repeat center center;
}

.closed-dialog {
	display: none;
}


  .brick.small {
    width: 140px;
    height: 140px;
  }

  .brick.large {
    width: 300px;
    height: 300px;
  }